

div(data-bind="if: crumbs().length")
    ol.breadcrumb(data-bind="foreach: crumbs")
        // ko if: $data[1].length
        li: a(data-bind="text: $data[0], attr: { href: $data[1] }")
        // /ko
        // ko ifnot: $data[1].length
        li.active(data-bind="text: $data[0]")
        // /ko

div(data-bind="if: page() == 'home'")
    p Home page!

div(data-bind="if: page() == 'dashboard'")
    p Dashboard!

include pages/recipeCard

include pages/userList
include pages/userDetail
include pages/recipeList
include pages/recipeDetail

include pages/developers
