doctype html
head
        meta(charset="utf-8")
        link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Germania+One")
        link(rel="stylesheet", href="/styles/combined.min.css?v=#{ts}")

        script.
            var ENV = "#{env}";

        script(async, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7bBRbj46VC1Ly3doCnmLp3a-k0k9oWnI&sensor=false")
        script(async, src="https://apis.google.com/js/plusone.js")
        script(async, src="/scripts/combined.min.js?v=#{ts}")
    body(style="margin-top: 50px;")
        .navbar.navbar-inverse.navbar-fixed-top
            .navbar-inner
                .container
                    button.navbar-toggle(data-toggle="collapse", data-target="#main-nav")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="/") <span style="">Malt<span style="opacity: 0.5">.io</span></span>
                    .collapse.navbar-collapse(id="main-nav")
                        ul.nav.navbar-nav
                            li: a(href="/dashboard") dashboard
                            li: a(href="/recipes") recipes
                            li: a(href="/users") users
                            li: a(href="/developers") developers
                            li: a(href="http://blog.malt.io/") blog
                        ul.nav.navbar-nav.navbar-right(data-bind="ifnot: user()")
                            li: a(data-bind="click: login") login / register
                        ul.nav.navbar-nav.navbar-right(data-bind="if: user()")
                            li.dropdown
                                a(class="dropdown-toggle", data-toggle="dropdown")
                                    img.user(data-bind="attr: { src: user().image.replace(/SIZE/, 18) }")
                                    span(data-bind="text: user().name")
                                    | &nbsp;
                                    b.caret
                                ul.dropdown-menu
                                    li: a(href="/account") My account
                                    li: a(data-bind="click: logout") Log out
                        ul.nav.navbar-nav.navbar-right(style="padding-right: 16px")
                            li
                                .btn-group(data-toggle="buttons")
                                    label.btn.btn-default.btn-sm.active(data-bind="click: function () { metric(true) }")
                                        input(type="radio", name="metric")
                                        | &nbsp;Metric
                                    label.btn.btn-default.btn-sm(data-bind="click: function () { metric(false) }")
                                        input(type="radio", name="metric")
                                        | U.S.

        #pageContainer.container

            #loading
                p
                    img(src="/images/ajax-loader.gif")
                p Loading...

            #contentContainer(style="display: none")
                block content

            .footer-links.clearfix
                    .col-md-2
                        .footer-logo Malt.io
                    .col-md-2
                        h5 Stores
                        ul.list-unstyled
                            li: a(href="http://www.austinhomebrew.com/") Austin Homebrew
                            li: a(href="http://www.midwestsupplies.com/") Midwest Supplies
                            li: a(href="http://morebeer.com/") More Beer
                            li: a(href="http://www.northernbrewer.com/") Northern Brewer
                    .col-md-2
                        h5 Magazines
                        ul.list-unstyled
                            li: a(href="http://www.ambrew.com/") American Brewer
                            li: a(href="http://byo.com/") Brew Your Own
                            li: a(href="http://www.homebrewersassociation.org/pages/zymurgy/current-issue") Zymurgy
                    .col-md-2
                        h5 Forums
                        ul.list-unstyled
                            li: a(href="http://www.homebrewersassociation.org/forum/index.php") AHA Forums
                            li: a(href="http://www.homebrewtalk.com/") Homebrew Talk
                            li: a(href="http://forum.northernbrewer.com/") NB Forums
                    .col-md-2
                        h5 Misc
                        ul.list-unstyled
                            li: a(href="/developers") Developers / API
                            li: a(href="http://www.bjcp.org/") BJCP

            .footer.clearfix
                    .social
                        div.g-plus(data-height="69", data-href="//plus.google.com/+Maltio", data-rel="publisher")
                        a(href="//plus.google.com/+Maltio", rel="publisher", style="display: none;") Malt.io

                    p
                        | Press&nbsp;
                        span.key ?
                        | &nbsp;for help with keyboard shortcuts
                    p.copyright
                        | Copyright &copy; 2013 Daniel G. Taylor |&nbsp;
                        a(href="https://github.com/homebrewing/brauhausjs") Brauhaus
                        | &nbsp;|&nbsp;
                        a(href="https://github.com/homebrewing/tapline") Tapline
                        | &nbsp;|&nbsp;
                        a(href="https://github.com/homebrewing/malt.io") Malt.io on Github

        link(rel="stylesheet", href="http://netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.min.css")
