div(data-bind="if: page() == 'developers'")
    h1 Developers Welcome <small>built with open source</small>
    .row
        .col-md-6
            h5 Introduction
            p <strong>Malt</strong>.io loves developers and loves open source. The projects below form the basis of this site, from low-level conversion and calculations to backend <abbr title="Application Programming Interfaces">APIs</abbr> and live-updating web pages. Help to build the next killer homebrewing app!
        .col-md-6
            h5 What is Open Source?
            p Open source means that the entire computer code that is behind this website is open for anybody to download, share, add to or use in their own projects. <strong>Malt</strong>.io will always be open. <a href="http://en.wikipedia.org/wiki/Open_source">Learn more about open source.</a>
    .row
        .col-md-4
            h2 Brauhaus.js
            p <strong>Brauhaus</strong> is a javascript library for homebrew calculations that runs on both the server (<a href="http://nodejs.org/">Node.js</a>) and client (web browsers). It allows you to create and calculate recipes, do conversions, and much more.
        .col-md-4
            h2 Tapline
            p <strong>Tapline</strong> is an API server that wraps Brauhaus and <a href="http://www.mongodb.org/">MongoDB</a> to provide authentication, authorization, users, stored recipes, and recipe calculation functionality on-demand from any client that can speak <abbr title="Representational State Transfer">REST</abbr> and <abbr title="Javascript Object Notation">JSON</abbr>.
        .col-md-3
            h2 Malt.io
            p <strong>Malt</strong>.io is this website, which uses Tapline's API to fetch and store users and recipes. It also uses Brauhaus to live-update the page as you edit recipes on the site.
    .row
        .col-md-4
            ul.list-unstyled.buttons
                li
                    a.btn.btn-block.btn-lg.btn-primary(href="https://github.com/homebrewing/brauhausjs#readme")
                        i.fa.fa-book &nbsp;
                        | Brauhaus Documentation
                li
                    a.btn.btn-block.btn-warning(href="https://github.com/homebrewing/brauhausjs/issues")
                        i.fa.fa-exclamation-circle &nbsp;
                        | Report Brauhaus Issue
                li
                    a.btn.btn-block.btn-inverse(href="https://github.com/homebrewing/brauhausjs")
                        i.fa.fa-github-alt &nbsp;
                        | Brauhaus Github Project
        .col-md-4
            ul.list-unstyled.buttons
                li
                    a.btn.btn-block.btn-lg.btn-primary(href="https://github.com/homebrewing/tapline#readme")
                        i.fa.fa-book &nbsp;
                        | Tapline Documentation
                li
                    a.btn.btn-block.btn-warning(href="https://github.com/homebrewing/tapline/issues")
                        i.fa.fa-exclamation-circle &nbsp;
                        | Report Tapline Issue
                li
                    a.btn.btn-block.btn-inverse(href="https://github.com/homebrewing/tapline")
                        i.fa.fa-github-alt &nbsp;
                        | Tapline Github Project
        .col-md-4
            ul.list-unstyled.buttons
                li
                    a.btn.btn-block.btn-lg.btn-primary(href="https://github.com/homebrewing/malt.io#readme")
                        i.fa.fa-book &nbsp;
                        | Malt.io Documentation
                li
                    a.btn.btn-block.btn-warning(href="https://github.com/homebrewing/malt.io/issues")
                        i.fa.fa-exclamation-circle &nbsp;
                        | Report Malt.io Issue
                li
                    a.btn.btn-block.btn-inverse(href="https://github.com/homebrewing/malt.io")
                        i.fa.fa-github-alt &nbsp;
                        | Malt.io Github Project
    div
        h3 Get Started <small>Brauhaus &amp; API playground</small>
        p Take a look at the javascript below, and click the <strong>Result</strong> tab to see it executed. Batteries are included: <a href="http://jquery.com/">jQuery</a> and Brauhaus are already loaded.
        .btn-toolbar
            .btn-group
                button.btn.btn-default(data-bind="click: function () { $root.example('danielgtaylor/wPYGw'); }") Brauhaus (Javascript)
                button.btn.btn-default(data-bind="click: function () { $root.example('danielgtaylor/47Uqu'); }") Brauhaus (Coffeescript)
            .btn-group
                button.btn.btn-default API (Javascript)
                button.btn.btn-default(data-bind="click: function () { $root.example('danielgtaylor/8HjcN'); }") API (Coffeescript)
        br
        iframe(width="100%", height="300", allowfullscreen="allowfullscreen", frameborder="0", data-bind="attr: { src: 'http://jsfiddle.net/' + $root.example() + '/embedded/js,result' }")
