#importRecipeDialog.modal.fade(role="dialog", data-bind="with: recipeDetail")
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type="button", data-dismiss="modal")
                h4.modal-title Import Recipes
            .modal-body
                .alert.alert-warning This feature is in <strong>beta</strong> and not all BeerXML features are currently supported!
                p.
                    Drag files into this window to import BeerXML recipes.
            .modal-footer
                button.btn.btn-default(data-dismiss="modal") Cancel
                button.btn.btn-success(data-dismiss="modal", data-bind="")
                    i.fa.fa-upload
                    | &nbsp;Import BeerXML

#deleteRecipeDialog.modal.fade(role="dialog", data-bind="with: recipeDetail")
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type="button", data-dismiss="modal")
                h4.modal-title Delete Recipe
            .modal-body
                | Are you sure you want to delete this recipe?
            .modal-footer
                button.btn.btn-default(data-dismiss="modal") Cancel
                button.btn.btn-danger(data-dismiss="modal", data-bind="click: delConfirm")
                    i.fa.fa-ban
                    | &nbsp;Delete

#cloneRecipeDialog.modal.fade(role="dialog", data-bind="with: recipeDetail")
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type="button", data-dismiss="modal")
                h4.modal-title Clone Recipe
            .modal-body
                | Cloning this recipe will create a copy of it in your own account with the same name. You will own the copy and be able to edit, brew, and share your clone.
            .modal-footer
                button.btn.btn-default(data-dismiss="modal") Cancel
                button.btn.btn-primary(data-dismiss="modal", data-bind="click: clone")
                    i.fa.fa-share-square
                    | &nbsp;Clone

#exportRecipeDialog.modal.fade(role="dialog", data-bind="with: recipeDetail")
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type="button", data-dismiss="modal")
                h4.modal-title Export Recipe
            .modal-body
                p Below you can export your recipe as BeerXML 1.0.
                textarea(style="width: 100%; height: 200px;", data-bind="text: recipe() && recipe().toBeerXml()")
            .modal-footer
                button.btn.btn-default(data-dismiss="modal") Cancel
                button.btn.btn-primary(data-dismiss="modal", data-bind="click: exportBeerXml")
                    i.fa.fa-download
                    | &nbsp;Download BeerXML
