div(data-bind="if: page() == 'recipeDetail'")
    div(class="recipe-detail", data-bind="with: recipeDetail")
        .jumbotron
            .container
                h1(data-bind="editable: edit(), editableText: recipe().name")
                h2(data-bind="editable: edit(), editableText: recipe().description")
                p
                    | Style:&nbsp;
                    span(data-bind="text: recipe().style || 'No style'")
                p(data-bind="if: $root.metric()")
                    | Batch size:&nbsp;
                    span(data-bind="editable: edit(), editableText: recipe().batchSize, type: 'fixed1'")
                    | &nbsp;liters
                    br
                    | Boil size:&nbsp;
                    span(data-bind="editable: edit(), editableText: recipe().boilSize, type: 'fixed1'")
                    | &nbsp;liters
                p(data-bind="ifnot: $root.metric()")
                    | Batch size:&nbsp;
                    span(data-bind="editable: edit(), editableText: recipe().batchSizeGallons, type: 'fixed1'")
                    | &nbsp;gallons
                    br
                    | Boil size:&nbsp;
                    span(data-bind="editable: edit(), editableText: recipe().boilSizeGallons, type: 'fixed1'")
                    | &nbsp;gallons
                .btn-toolbar
                    .btn-group
                        button.btn.btn-default(data-bind="click: toggleEdit")
                            i.icon-edit
                            | &nbsp;Edit
                        button.btn.btn-default
                            i.icon-share
                            | &nbsp;Clone
                        button.btn.btn-default
                            i.icon-fire
                            | &nbsp;Brew
                        button.btn.btn-default
                            i.icon-signal
                            | &nbsp;Scale
                        button.btn.btn-default
                            i.icon-time
                            | &nbsp;History
                        button.btn.btn-default
                            i.icon-globe
                            | &nbsp;Widget
                        button.btn.btn-default
                            i.icon-download-alt
                            | &nbsp;Export
        section.clearfix
            h2 Fermentable Sugars
            .toolbar(data-bind="if: edit()")
                .btn-toolbar(data-bind="with: recipe()")
                    .btn-group
                        button.btn.btn-default(data-bind="click: addFermentable.bind($data, 'New fermentable', 75, 4)"): i.icon-plus-sign
                    // ko foreach: {data: $parent.fermentableTemplates, as: 'templateName'}
                    .btn-group
                        button.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
                            span(data-bind="text: templateName[0]")
                            span.caret
                        ul.dropdown-menu(role="menu")
                            // ko foreach: {data: templateName[1], as: 'template'}
                            li
                                a(data-bind="click: $root.recipeDetail.recipe().addFermentable.bind($root.recipeDetail.recipe(), template[0], template[1], template[2])")
                                    span.srm(data-bind="style: { backgroundColor: Brauhaus.srmToCss(template[2]) }")
                                    span(data-bind="text: template[0]")
                            // /ko
                    // /ko
            .col-md-10.no-pad
                table.table.table-striped
                    thead
                        tr
                            th.col-md-1.num.fade %
                            // ko if: $root.metric()
                            th.col-md-1.num Kg
                            // /ko
                            // ko ifnot: $root.metric()
                            th.col-md-1.num Lb
                            th.col-md-1.num Oz
                            // /ko
                            th Name
                            th.col-md-1 Late
                            // ko if: $root.metric()
                            th.col-md-1.num Yield
                            // /ko
                            // ko ifnot: $root.metric()
                            th.col-md-1.num PPG
                            // /ko
                            th.col-md-2 Color
                            // ko if: edit()
                            th(style="width: 24px")
                            // /ko
                    tbody(data-bind="foreach: recipe().fermentables")
                        tr
                            td.num.fade(data-bind="text: Math.round(weightPercent())")
                            // ko if: $root.metric()
                            td.num(data-bind="editable: $parent.edit(), editableText: weight, type: 'fixed2'")
                            // /ko
                            // ko ifnot: $root.metric()
                            td.num(data-bind="editable: $parent.edit(), editableText: weightLb, type: 'int'")
                            td.num(data-bind="editable: $parent.edit(), editableText: weightOz, type: 'int'")
                            // /ko
                            td(data-bind="editable: $parent.edit(), editableText: name")
                            td(data-bind="editable: $parent.edit(), editableText: late, type: 'bool'")
                            // ko if: $root.metric()
                            td.num(data-bind="editable: $parent.edit(), editableText: yield, type: 'int'")
                            // /ko
                            // ko ifnot: $root.metric()
                            td.num(data-bind="editable: $parent.edit(), editableText: ppg, type: 'int'")
                            // /ko
                            td
                                span.srm(data-bind="style: { backgroundColor: Brauhaus.srmToCss(color()) }")
                                // ko if: $root.metric()
                                span(data-bind="editable: $parent.edit(), editableText: colorEbc, type: 'fixed1'")
                                | &deg; EBC
                                // /ko
                                // ko ifnot: $root.metric()
                                span(data-bind="editable: $parent.edit(), editableText: color, type: 'fixed1'")
                                | &deg; SRM
                                // /ko
                            // ko if: $parent.edit()
                            td.remove
                                a(data-bind="click: $parent.recipe().removeFermentable")
                                    i.icon-remove
                            // /ko
            .col-md-2
                h5 Original Gravity
                span(data-bind="text: recipe().og().toFixed(3)")
                | &nbsp;(
                span(data-bind="text: recipe().ogPlato().toFixed(1)")
                | &deg; Plato)
                h5 Final Gravity
                span(data-bind="text: recipe().fg().toFixed(3)")
                | &nbsp;(
                span(data-bind="text: recipe().fgPlato().toFixed(1)")
                | &deg; Plato)
                h5 Color
                span.srm(data-bind="style: { backgroundColor: Brauhaus.srmToCss(recipe().color()) }")
                // ko if: $root.metric()
                span(data-bind="text: recipe().colorEbc().toFixed(1)")
                | &deg; EBC
                // /ko
                // ko ifnot: $root.metric()
                span(data-bind="text: recipe().color().toFixed(1)")
                | &deg; SRM
                // /ko
        section.clearfix
            h2 Bittering &amp; Spices
            .toolbar(data-bind="if: edit()")
                .btn-toolbar(data-bind="with: recipe()")
                    .btn-group
                        button.btn.btn-default(data-bind="click: addSpice.bind($data, 'New spice', 4.5)"): i.icon-plus-sign
            .col-md-10.no-pad
                table.table.table-striped
                    thead
                        tr
                            th.col-md-1 Use
                            th.col-md-1.num Time
                            // ko if: $root.metric()
                            th.col-md-1.num Grams
                            // /ko
                            // ko ifnot: $root.metric()
                            th.col-md-1.num Ounces
                            // /ko
                            th Name
                            th.col-md-1 Form
                            th.col-md-1.num AA%
                            // ko if: edit()
                            th(style="width: 24px")
                            // /ko
                    tbody(data-bind="foreach: recipe().spices")
                        tr
                            td(data-bind="editable: $parent.edit(), editableText: use")
                            td.num(data-bind="editable: $parent.edit(), editableText: time, type: 'int'")
                            // ko if: $root.metric()
                            td.num(data-bind="editable: $parent.edit(), editableText: weightG, type: 'int'")
                            // /ko
                            // ko ifnot: $root.metric()
                            td.num(data-bind="editable: $parent.edit(), editableText: weightOz, type: 'fixed2'")
                            // /ko
                            td(data-bind="editable: $parent.edit(), editableText: name")
                            td(data-bind="editable: $parent.edit(), editableText: form")
                            td.num(data-bind="editable: $parent.edit(), editableText: aa, type: 'fixed1'")
                            // ko if: $parent.edit()
                            td.remove
                                a(data-bind="click: $parent.recipe().removeSpice")
                                    i.icon-remove
                            // /ko
            .col-md-2
                h5 Bitterness
                span(data-bind="text: recipe().ibu().toFixed(1)")
                | &nbsp;IBU
                h5 Method
                // ko if: edit()
                .btn-group
                    button.btn.btn-default.btn-sm.btn-dropdown(data-toggle="dropdown")
                        span(data-bind="text: capitalize(recipe().ibuMethod())")
                        | &nbsp;
                        span.caret
                    ul.dropdown-menu
                        li: a(data-bind="click: function () { recipe().ibuMethod('tinseth') }") Tinseth
                        li: a(data-bind="click: function () { recipe().ibuMethod('rager') }") Rager
                // /ko
                // ko ifnot: edit()
                span(data-bind="text: capitalize(recipe().ibuMethod())")
                // /ko
                h5 Balance
                span(data-bind="text: recipe().bv().toFixed(2)")
                | &nbsp;(
                // ko if: recipe().bv() < .9
                | sweet
                // /ko
                // ko if: recipe().bv() >= .9 && recipe().bv() <= 1.1
                | balanced
                // /ko
                // ko if: recipe().bv() > 1.1
                | bitter
                // /ko
                |)

        section.clearfix
            h2 Yeast &amp; Bugs
            .toolbar(data-bind="if: edit()")
                .btn-toolbar(data-bind="with: recipe()")
                    .btn-group
                        button.btn.btn-default(data-bind="click: addYeast.bind($data, 'New yeast', 75, 'liquid', 'ale')"): i.icon-plus-sign
            .col-md-10.no-pad
                table.table.table-striped
                    thead
                        tr
                            th Strain
                            th.col-md-1 Type
                            th.col-md-1 Form
                            th.col-md-1.num Attenuation
                            // ko if: edit()
                            th(style="width: 24px")
                            // /ko
                    tbody(data-bind="foreach: recipe().yeast")
                        tr
                            td(data-bind="editable: $parent.edit(), editableText: name")
                            td(data-bind="editable: $parent.edit(), editableText: type")
                            td(data-bind="editable: $parent.edit(), editableText: form")
                            td.num(data-bind="editable: $parent.edit(), editableText: attenuation, type: 'int'")
                            // ko if: $parent.edit()
                            td.remove
                                a(data-bind="click: $parent.recipe().removeYeast")
                                    i.icon-remove
                            // /ko
            .col-md-2
                h5 Alcohol
                span(data-bind="text: recipe().abv().toFixed(1)")
                | % ABV
                h5 Calories
                span(data-bind="text: Math.round(recipe().calories())")
                | &nbsp;per bottle

        section.clearfix
            h2 Priming &amp; Storage
            .col-md-10.no-pad
                table.table.table-striped
                    thead
                        tr
                            th Fermentable
                            th.col-md-1.num Grams
                            th.col-md-1.num Ounces
                            th.col-md-1.num Teaspoons
                            th.col-md-1.num Cups
                    tbody
                        tr
                            td Corn sugar
                            td.num(data-bind="text: Math.round(recipe().primingCornSugar() * 1000)")
                            td.num(data-bind="text: (Brauhaus.kgToLb(recipe().primingCornSugar()) * 16).toFixed(2)")
                            td.num(data-bind="text: Math.round(recipe().primingCornSugar() * Brauhaus.RELATIVE_SUGAR_DENSITY.cornSugar * 240)")
                            td.num(data-bind="text: (recipe().primingCornSugar() * Brauhaus.RELATIVE_SUGAR_DENSITY.cornSugar * 5).toFixed(2)")
                        tr
                            td Table sugar
                            td.num(data-bind="text: Math.round(recipe().primingSugar() * 1000)")
                            td.num(data-bind="text: (Brauhaus.kgToLb(recipe().primingSugar()) * 16).toFixed(2)")
                            td.num(data-bind="text: Math.round(recipe().primingSugar() * Brauhaus.RELATIVE_SUGAR_DENSITY.sugar * 240)")
                            td.num(data-bind="text: (recipe().primingSugar() * Brauhaus.RELATIVE_SUGAR_DENSITY.sugar * 5).toFixed(2)")
                        tr
                            td Honey
                            td.num(data-bind="text: Math.round(recipe().primingHoney() * 1000)")
                            td.num(data-bind="text: (Brauhaus.kgToLb(recipe().primingHoney()) * 16).toFixed(2)")
                            td.num(data-bind="text: Math.round(recipe().primingHoney() * Brauhaus.RELATIVE_SUGAR_DENSITY.honey * 240)")
                            td.num(data-bind="text: (recipe().primingHoney() * Brauhaus.RELATIVE_SUGAR_DENSITY.honey * 5).toFixed(2)")
                        tr
                            td Dry malt extract
                            td.num(data-bind="text: Math.round(recipe().primingDme() * 1000)")
                            td.num(data-bind="text: (Brauhaus.kgToLb(recipe().primingDme()) * 16).toFixed(2)")
                            td.num(data-bind="text: Math.round(recipe().primingDme() * Brauhaus.RELATIVE_SUGAR_DENSITY.dme * 240)")
                            td.num(data-bind="text: (recipe().primingDme() * Brauhaus.RELATIVE_SUGAR_DENSITY.dme * 5).toFixed(2)")

            .col-md-2
                h5 Temperature
                // ko if: $root.metric()
                span(data-bind="editable: edit, editableText: recipe().bottlingTemp, type: 'fixed1'")
                | &nbsp;&deg;C
                // /ko
                // ko ifnot: $root.metric()
                span(data-bind="editable: edit, editableText: recipe().bottlingTempF, type: 'fixed1'")
                | &nbsp;&deg;F
                // /ko
                h5 Pressure
                span(data-bind="editable: edit, editableText: recipe().bottlingPressure, type: 'fixed1'")
                | &nbsp;Volumes
                h5 Bottles
                span(data-bind="text: Math.round(recipe().bottleCount())")

