div(data-bind="if: page() == 'recipeDetail'")
    div(class="recipe-detail", data-bind="with: recipeDetail")
        .jumbotron
            .container
                h1(data-bind="editable: edit(), editableText: recipe().name")
                h2(data-bind="editable: edit(), editableText: recipe().description")
                p
                    | Style:&nbsp;
                    span(data-bind="text: recipe().style || 'No style'")
                p(data-bind="if: $root.metric()")
                    | Batch size:&nbsp;
                    span(data-bind="editable: edit(), editableText: recipe().batchSize, type: 'fixed1'")
                    | &nbsp;liters
                    br
                    | Boil size:&nbsp;
                    span(data-bind="editable: edit(), editableText: recipe().boilSize, type: 'fixed1'")
                    | &nbsp;liters
                p(data-bind="ifnot: $root.metric()")
                    | Batch size:&nbsp;
                    span(data-bind="editable: edit(), editableText: recipe().batchSizeGallons, type: 'fixed1'")
                    | &nbsp;gallons
                    br
                    | Boil size:&nbsp;
                    span(data-bind="editable: edit(), editableText: recipe().boilSizeGallons, type: 'fixed1'")
                    | &nbsp;gallons
                .btn-toolbar
                    .btn-group
                        button.btn.btn-default(data-bind="click: toggleEdit")
                            i.icon-edit
                            | &nbsp;Edit
                        button.btn.btn-default
                            i.icon-share
                            | &nbsp;Clone
                        button.btn.btn-default
                            i.icon-fire
                            | &nbsp;Brew
                        button.btn.btn-default
                            i.icon-signal
                            | &nbsp;Scale
                        button.btn.btn-default
                            i.icon-time
                            | &nbsp;History
                        button.btn.btn-default
                            i.icon-globe
                            | &nbsp;Widget
                        button.btn.btn-default
                            i.icon-download-alt
                            | &nbsp;Export
        section
            h2 Fermentable Sugars
            .col-md-10.panel.panel-default
                table.table.table-striped
                    thead
                        tr
                            // ko if: $root.metric()
                            th Kg
                            // /ko
                            // ko ifnot: $root.metric()
                            th Lb
                            th Oz
                            // /ko
                            th Name
                            th Late
                            // ko if: $root.metric()
                            th Yield
                            // /ko
                            // ko ifnot: $root.metric()
                            th PPG
                            // /ko
                            th Color
                    tbody(data-bind="foreach: recipe().fermentables()")
                        tr
                            // ko if: $root.metric()
                            td(data-bind="editable: $parent.edit(), editableText: weight, type: 'fixed2'")
                            // /ko
                            // ko ifnot: $root.metric()
                            td(data-bind="editable: $parent.edit(), editableText: weightLb, type: 'int'")
                            td(data-bind="editable: $parent.edit(), editableText: weightOz, type: 'int'")
                            // /ko
                            td(data-bind="editable: $parent.edit(), editableText: name")
                            td(data-bind="editable: $parent.edit(), editableText: late, type: 'bool'")
                            // ko if: $root.metric()
                            td(data-bind="editable: $parent.edit(), editableText: yield")
                            // /ko
                            // ko ifnot: $root.metric()
                            td(data-bind="editable: $parent.edit(), editableText: ppg, type: 'int'")
                            // /ko
                            td
                                span.srm(data-bind="style: { backgroundColor: Brauhaus.srmToCss(color()) }")
                                // ko if: $root.metric()
                                span(data-bind="editable: $parent.edit(), editableText: colorEbc, type: 'fixed1'")
                                | &deg; EBC
                                // /ko
                                // ko ifnot: $root.metric()
                                span(data-bind="editable: $parent.edit(), editableText: color, type: 'fixed1'")
                                | &deg; SRM
                                // /ko
            .col-md-2
                h5 Original Gravity
                span(data-bind="text: recipe().og().toFixed(3)")
                h5 Final Gravity
                span(data-bind="text: recipe().fg().toFixed(3)")

