mixin recipeCard(showUser)
    .recipe(data-bind="style: { borderTopColor: Brauhaus.srmToCss(color())}")
        h4.ellipsize: a(data-bind="text: name, attr: { href: '/users/' + user.name + '/recipes/' + slug }")
        if showUser
            h5.user: a(data-bind="text: user.name, attr: { href: '/users/' + user.name }")
        p.ellipsize(data-bind="text: description")
        .flavor
            small.pull-left sweet
            small.pull-right bitter
            .flavor-bar
            .flavor-tab(data-bind="style: { left: Math.max(5, Math.min(95, (bv() || 1) * 50)) + '%'}")
        .clearfix
        table.stats
            tr
                th OG
                td(data-bind="text: og().toFixed(3) + ' (' + ogPlato().toFixed(1) + '°)'")
                th IBU
                td(data-bind="text: ibu().toFixed(1)")
            tr
                th FG
                td(data-bind="text: fg().toFixed(3) + ' (' + fgPlato().toFixed(1) + '°)'")
                th ABV
                td(data-bind="text: abv().toFixed(1) + '%'")
