div(data-bind="if: page() == 'userDetail'")
    div(class="user-profile", data-bind="with: userDetail.user()")
        .header
            #user-detail-map
            h2.user-detail
                .avatar
                    img(data-bind="attr: { src: image.replace(/SIZE/, 128) }")
                span(data-bind="text: name")
                br
                small Seattle, USA
        hr
        div.row
            div.col-md-5
                h3 Recipes (<span data-bind="text: recipeCount"></span> recipes)
                div(data-bind="foreach: $root.userDetail.recipes()")
                    mixin recipeCard(false)
            div.col-md-7
                h3 Public Actions
                div(data-bind="foreach: $root.userDetail.actions()")
                    include actions
