body
    color black

h1, h2
    font-family 'Germania One'

h5
    font-size 80%
    font-weight bold
    text-transform uppercase
    padding 0
    margin 6px 0

a
    color #08c
    text-decoration none

img.user
    margin-right 4px
    border-radius 2px

h1[contentEditable], h2[contentEditable], p[contentEditable], span[contentEditable], td[contentEditable]
    color #555
    background-color white
    border 1px solid #ccc
    border-radius 3px
    box-shadow inset 0 1px 1px rgba(0,0,0,0.075);

td[contentEditable]
    border-top none
    border-bottom none
    box-shadow none

td.num, th.num
    text-align right

.navbar-inverse
    a
        cursor pointer

    .navbar-brand
        color #ccc
        font-family 'Germania One'
        font-size 32px
        padding-top 18px
        padding-bottom 12px

    .btn-group
        margin-top 10px

        .btn-default
            color #ccc
            background-color #333
            border-color #222

            &:hover
                color white
                background-color #444

        .active
            background-color #430

            &:hover
                background-color #541

.user-list-item
    float left
    display block

    img
        float left
        margin-right 1em
        margin-bottom 1em
        width 40px
        height 40px
        border-radius 5px

    h6
        font-size 11px
        text-transform uppercase
        margin 4px 0

.user-profile
    .avatar
        margin-right 1em
        border-radius 5px

.srm
    display inline-block
    width 14px
    height 14px
    margin-right 4px
    margin-bottom -1px
    border 1px solid rgba(0, 0, 0, 0.2)
    border-radius 3px

.action
    .content
        margin 1em

.recipe
    position relative
    border 1px solid rgba(0, 0, 0, 0.1)
    border-radius 3px
    padding 12px
    margin-bottom 1em

    h4
        padding 0
        margin 0 0 0.5em 0

    h5
        position absolute
        top 0
        right 0
        background-color rgba(0, 0, 0, 0.1)
        margin 0
        padding 4px 8px
        border-bottom-left-radius 5px

.no-pad
    padding 0

#user-detail-map
    height 160px
    border 1px solid rgba(0, 0, 0, 0.2)
    border-radius 2px

#recipe-list
    .recipe
        width 30%
        float left
        margin-left 1em
